/*-------------------------------  Custom Fonts  ------------------------------------*/
/*-------------------------------  Defs & Sys  ------------------------------------*/
    body {
        position: relative;
        min-width: 1224px;
        font-size: 14px;
        line-height: 1.6em;
        color: #000;
        background: #fff;
        -webkit-font-smoothing: antialiased;
    }
    body, button, input, select, textarea {
        font-family: Arial, Helvetica, sans-serif;
    }
    a {text-decoration: underline; color: #43f;}
    a:visited {text-decoration: underline; color: #609;}
    a:focus, a:hover {text-decoration: underline; color: #f00;}
    a:hover {text-decoration: underline; color: #000;}
    a[href^="http"], a[href^="www."] {cursor: pointer; cursor: alias;}
    .clear { clear: both;}
    .clearFix:after, .site_size:after, .text_block:after { content: ''; display: block; clear: both; height: 0; }
/*-------------------------------  Strcutur  ------------------------------------*/
    .wrapper {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        position: relative;
        overflow: hidden;
    }
    .site_size {
        max-width: 980px;
        margin: 0 auto;
        position: relative;
    }
/*-------------------------------  Header  ------------------------------------*/
    .header {
        position: relative;
    }
/*-------------------------------  Conteiner  ------------------------------------*/
    
/*-------------------------------  Footer  ------------------------------------*/
    .footer {
        position: relative;
        margin: -100px auto 0;
        height: 100px;
    }












/*-------------------------------  text_block  ------------------------------------*/
    .text_block {
        position: relative;
        color: #000;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
        line-height: 1.4em;
        text-align: left;
        text-transform: none;
        text-decoration: none;
    }

    .text_block h1:before, .text_block h2:before, .text_block h3:before,
    .text_block h4:before, .text_block h5:before, .text_block h6:before {
        content: '';
        display: block;
        clear: both;
        height: 0;
    }

    .text_block h1, .text_block h2, .text_block h3, .text_block h4, .text_block h5, .text_block h6,
    .text_block ul, .text_block ol, .text_block dl, .text_block pre, .text_block p,
    .text_block blockquote, .text_block table, .text_block blockquote {
        margin: 1em 0px;
    }
    .h1T, .h2T, .h3T, .h4T, .h5T, .h6T {
        margin: 0 0 1em;
    }
    .text_block h1, .text_block h2, .text_block h3, .text_block h4, .text_block h5, .text_block h6,
    .h1T, .h2T, .h3T, .h4T, .h5T, .h6T {
        font: 40px/1.2em Arial, Helvetica, sans-serif;
    }
    .text_block h2, .h2T { font-size: 34px; line-height: 1.2em; }
    .text_block h3, .h3T { font-size: 30px; line-height: 1.2em; }
    .text_block h4, .h4T { font-size: 26px; line-height: 1.2em; }
    .text_block h5, .h5T { font-size: 22px; line-height: 1.2em; }
    .text_block h6, .h6T { font-size: 18px; line-height: 1.2em; }

    .text_block h1 a, .text_block h2 a, .text_block h3 a,
    .text_block h4 a, .text_block h5 a, .text_block h6 a,
    .h1T a, .h2T a, .h3T a,
    .h4T a, .h5T a, .h6T a {
        text-decoration: none !important;
    }
    .text_block code, .text_block kbd, .text_block samp {
        line-height: 1.3em;
        display: inline-block;
        vertical-align: top;
        padding: 0 5px;
        border-radius: 3px;
    }
    .text_block code {
        color: red;
    }
    .text_block kbd {
        color: blue;
    }
    .text_block samp {
        color: #009e00;
    }
    .text_block pre {
        padding: 15px;
        border-radius: 5px;
    }
    .text_block code, .text_block kbd, .text_block pre, .text_block samp {
        background: #efefef;
        border: 1px solid #ccc;
    }
    .text_block blockquote {
        padding: 5px 20px;
        font-style: italic;
    }
    .text_block ul, .text_block ol, .text_block dl {
        margin: 1em 0 1em 1em;
    }
    .text_block li {
        list-style-type: disc;
        list-style-position: inside;
    }
    .text_block ol li {
        list-style-type: decimal;
        list-style-position: inside;
    }
    .text_block dl dt {
        font-style: italic;
    }
    .text_block table  {
        width: 100%;
        background-color: transparent;
        border-collapse: collapse;
        border-spacing: 0;
        border-bottom: 1px solid #333;
        border-left: 1px solid #333;
        width: 100%;
        margin: 10px 0 20px;
    }
    .text_block table th,
    .text_block table td {
        padding: 10px;
        line-height: 1em;
        text-align: left;
        vertical-align: top;
        border-top: 1px solid #333;
        border-right: 1px solid #333;
    }
    .text_block table th {
        font-weight: bold;
        background: #eee;
    }
    .text_block table.table-null,
    .text_block table.table-null th,
    .text_block table.table-null td {
        border-color: transparent;
    }
    .text_block table.table-zebra,
    .text_block table.table-zebra th,
    .text_block table.table-zebra td {
        border-color: transparent;
    }
    .text_block table.table-zebra tr:nth-child(even) {
        background: #ddd;
    }